.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.networksContainer {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    transition: 0.3s all ease;
    width: 500px;
    margin: 0 16px;
}

.text {
    text-align: center;
}

.name {
    font-weight: bold;
}

.networkDivider {
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin-left: 56px;
}

@media screen and (max-width: 500px) {
    .networksContainer {
        width: auto;
    }

    .container {
        align-items: stretch;
    }
}