.container {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    transition: 0.3s all ease;
}

.title {
    font-weight: 600;
    font-size: 15px;
}

.caption {
    font-size: 14px;
}

.clickableContainer {
    cursor: pointer;
}

.clickableContainer:active {
    scale: 0.95;
}

.before {
    width: 24px;
    height: 24px;
}

.after {
    width: 24px;
    height: 24px;
}

.body {
    flex :1;
}