.container {
    padding: 16px 20px;
    display: flex;
    gap: 24px;
    transition: .3s ease all;
    align-items: center;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-weight: bold;
    font-size: 0.95rem;
}

.caption {
    font-size: 0.8rem;
    color: var(--text-secondary-color);
}

.clickableContainer {
    cursor: pointer;
}

.clickableContainer:active {
    scale: 0.95;
}

.before {
    width: 28px;
    height: 28px;
}

.after {
    width: 28px;
    height: 28px;
}